
{{ form_start(form) }}
<div class="container">
    <div class="row justify-content-center">
        <div class="mt-2 col-sm-7 ">
            <div class="input-table">{{ form_widget(form.nom) }}</div>
        </div>
        <div class="mt-4">
            <div><input class="btn-success" type="submit" value="{{ button_label|default('Ajouter') }}" /></div>
        </div>
    </div>
</div>
{{ form_end(form) }}
