{% extends 'base.html.twig' %}

{% block title %}Modifier un Site{% endblock %}

{% block body %}
    <h1>Modifier un Site</h1>

    {{ include('site/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('site_index') }}">Retour à la liste</a>

{% endblock %}
