{% extends 'base.html.twig' %}

{% block title %}Ajouter un Site{% endblock %}

{% block body %}
    <h1>Ajouter un Site</h1>

    {{ include('site/_form.html.twig') }}

    <a href="{{ path('site_index') }}">Retour à la liste</a>
{% endblock %}
