div.nom {
    display: flex;
}

div.dateSortie {
    display: flex;
}

div.dateCloture {
    display: flex;
}

div.nbDePlaces {
    display: flex;
}

div.duree {
    display: flex;
}

div.descriptionEtInfos {
    display: flex;
}

div.villeOrganisatrice {
    display: flex;
}

div.lieu {
    display: flex;
}

div.rue {
    display: flex;
}

div.codePostal {
    display: flex;
}

div.latitude {
    display: flex;
}

div.longitude {
    display: flex;
}

.container-table {
    display: inline-block;
    height: 200px;
    border: 1px solid black;
    overflow-y: scroll;
}

.participants-table {
    table-layout: auto;
    width: 100%;
}

tr, td {
    border: solid;
}

