.form-group {
    display: flex;
    flex-direction: row;
    margin-block: 25px;
    font-weight: bold;
    color: white;
}

#blabla {
    color: black;
}

.box {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.image-ronde{
    width : 150px; height : 150px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
}
