body{
    color: white;

}
.btn-ghost {
    color: white;
    background: #93af58;
    padding: 8px 24px;
    border-radius: 50px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    margin: 5px 5px 5px 5px;
}

.table_css{
    border-color: white;
    border-style: solid;
    border-width: 0.5px;
    overflow: scroll;
}

th {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    vertical-align: middle;
}

td {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    vertical-align: middle;
}

.btn-ghost:hover {
    opacity: 1;
}
tbody{

}

form {
    display: inline;
}
